*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*.lot
*.lof
*.loa
*.lol
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.glsdefs
*.fls
*.fdb_latexmk
*.run.xml
*.bcf
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.fdb_latexmk
*.synctex(busy)
*.synctex.gz(busy)
*.synctex.gz